@import './base.css';

#app {
  margin: 0 auto;
  padding: 15px;
  display:flex;
  flex-direction:row;
  font-weight: normal;
}

header{
  width: 20%;
  padding-right: 15px;
}

main{
  width: 80%;
 }

header h1{
  font-size: 14pt;
  font-weight:bold;
  text-align: center;
  background-color: rgba(240, 158, 35, 0.822);
}

header h2{
  font-size: 12pt;
  margin-top: 5px;
  text-align: center;
  background-color: rgba(240, 158, 35, 0.356);
}

nav ul {
  list-style-type: square;
}

main h3{
  font-size: 12pt;
  border : solid 1px #333 ;
  width: 100%;
  padding: 0px 0px 0px 10px;
  margin-bottom: 10px;
}
main h4{
  font-size: 12pt;
  color: rgb(51, 31, 230);
  font-weight:bold;
}
a,
.green {
  text-decoration: none;
  color: rgb(37, 37, 37);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(240, 158, 35, 0.356);;
  }
}


